* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
main {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 3rem;
    padding-right: 3rem;
}
div.title-home {
    text-align: center;
}

img.slider {
    max-width: 50%;

}

h1 { color: black; font-family: 'Helvetica Neue', sans-serif; font-size: 275px; font-weight: bold; letter-spacing: 5px; line-height: 5; text-align: center; }

h4 { color: grey; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }

h8 { color: rgb(29,87,155); font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: center; text-justify: inter-word; }

h3, h5 {
    font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: center; text-justify: inter-word letter-spacing: 5px; }


#person {
    border-radius: 7px;
    border: 1px solid #423f3f;
    min-height: 40;
    max-height: 40;
}

.row {
    height: 200px;
}

