* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
main {
    flex-grow: 1;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


